# Configurações do Django
DEBUG=True
SECRET_KEY='xtdbsm+!0pas09&uria4sx8a@%rk-0h6xf$t-u)vxx4&*b^@rb'
ALLOWED_HOSTS=localhost,127.0.0.1

# Pasta e Integração com Google Drive
PASTA_DRIVE=
GOOGLE_DRIVE_CREDENTIALS_FILE=

# Modelagem de IA e Provedores
LLM_MODEL=meta-llama/Llama-3.1-8B-Instruct:novita
LLM_PROVIDER=meta_llama
LLM_API_KEY=sua_chave_aqui
LLM_BASE_URL=https://api.novita.ai/v3/openai

EMBEDDING_MODEL=BAAI/bge-large-en-v1.5
EMBEDDING_PROVIDER=huggingface

# Configurações de Busca e Ingestão
MIN_SEARCH_WORDS=2
MAX_SEARCH_RESULTS=50
INDEX_CACHE_DIR=.cache/index
